<% provide(:title, "Home") %>
<html>
 <head>
 <title>Crucio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="Crucio.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
  <body>
    <!-- foodter  -->
    <div>
     <ul class="ul">
        <li class="li"><a href="#contact">CONTACT</a></li>
        <li class="li"><a href="#blog">BLOG</a></li>
        <li class="li"><a href="#portfolio">PORTFOLIO</a></li>
        <li class="li"><a href="#team">TEAM</a></li>
        <li class="li"><a href="#contact">SERVICES</a></li>
        <li class="li"><a href="#news">ABOUT</a></li>
        <li class="li"><a href="#home">HOME</a></li>
        <li class="li1"><a href="#S">S</a></li>
        <li class="li1"><a href="#rucio">RUCIO</a></li>
     </ul>
    </div>

    <!-- hedear 1 -->
    <div class="hedear">
      <div class="animation">
        SRUCIO
      </div>
        <hr class="hr" style="color:violet" >
      <div class="animation2">
        POWERFUL WEBSITES
      </div>
      <div class="icont">
        <i class="fas fa-angle-down button i" ></i>
      </div>
    </div>
    <div class="clearfix">

    </div>
    <!-- hedear 2 -->
    <div class="header2">
      <div class="font1">
        WECLCOME TO <span style="color:violet">SRUCIO</span>
      </div>
      <div class="font2">
        WE CREATE ANESOME WEBSITES
      </div>
      <div class="font-box">
        Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusomd tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercritation ullamo laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cllum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sint in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
    <div class="clearfix"></div>

    <!-- hedear 3 -->
    <div class="clearfixd">
      <div class="box" style="background-color:#d003ed">
          <div class="font3">
            RESPONSIVE
          </div>
          <div class="font-box1">
            Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusomd tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercritation ullamo laboris nisi ut aliquid ex ea commodi consequat.
         </div>
      </div>
      <div class="box" style="background-color: #dfa5e7">
          <div class="font3">
           CUSTOMIZABLE
          </div>
          <div class="font-box1">
            Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusomd tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercritation ullamo laboris nisi ut aliquid ex ea commodi consequat.
          </div>
      </div>
      <div class="box" style="background-color: #d46fe2">
          <div class="font3">
            MODERN
          </div>
          <div class="font-box1">
            Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusomd tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercritation ullamo laboris nisi ut aliquid ex ea commodi consequat.
          </div>
      </div>
    </div>

    <!-- hedear 4 -->
    <div class="hedear4">
      <div  class="">
        <div style="font-size: 30px">
          SERVICES
        </div>
        <hr>
        <div class="font-box2">
           Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusomd tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercritation ullamo laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cllum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sint in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <!-- icont  -->
        <div class="flex">
          <div >
          <i class="fas fa-desktop button1" style="font-size:30px"></i>
          <p style="font-size:18px">MANHINH</p>
          </div>
          <div>
          <i class="fas fa-dog button1" style="font-size:30px"></i>
          <p style="font-size:18px">CHO</p>
          </div>
          <div>
          <i class="fas fa-dragon button1" style="font-size:30px"></i>
          <p style="font-size:18px">RONG</p>
          </div>
          <div>
          <i class="fas fa-car button1" style="font-size:30px"></i>
          <p style="font-size:18px">OTO</p>
          </div>
        </div>

        <div class="flex" >
          <div>
          <i class="fas fa-child button1" style="font-size:30px; "></i>
          <p style="font-size:18px">NGUOI</p>
          </div>
          <div>
          <i class="fas fa-dove button1" style="font-size:30px"></i>
          <p style="font-size:18px">CHIM</p>
          </div>
          <div>
          <i class="fab fa-earlybirds button1" style="font-size:30px"></i>
          <p style="font-size:18px">CHIMCU</p>
          </div>
          <div>
          <i class="fab fa-evernote button1" style="font-size:30px"></i>
          <p style="font-size:18px">VOI</p>
          </div>
        </div>
      </div>
    </div>

    <!-- hedear 5 -->
    <div>
      <div class="hedear5">
        <div class="font4 animation3">
          WE CREATE <span><b>AWESOME</b></span> PROJECTS
        </div>
        <div class="Getstarted button3 animation4">
          <a style="text-decoration:none ;" href="https://crucio.ravenbluethemes.com/">GET STARTED</a>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- hedear 6 -->
    <div class="hedear6">
      <div class="Ourteam">
        OUR TEAM
      </div>
      <hr>
      <!-- img hidden + img hiệu ứng-->
      <div class="container">
        <!-- anh 1 -->
        <div class="Luna">
          <img style="width:300px ; height: 400px" src="file:///home/sinh/Downloads/Luna.jpg">
          <div class="conten">
            <div class="chu">
              BINHMANTA L.
            </div>
            <div class="chu-2">
              KE TOAN
            </div>
            <div class="icont-2">
              <i class="fab fa-facebook-square i-2"></i>
              <i class="fab fa-invision i-2"></i>
              <i class="fab fa-instagram i-2"></i>
              <i class="fab fa-twitter-square i-2"></i>
            </div>
          </div>
        </div>
        <!-- anh 2 -->
        <div class="Cdom">
          <img style="width:300px ; height: 400px" src="file:///home/sinh/Downloads/Domine.jpg">
           <div class="conten">
            <div class="chu">
              KHANHMELA K.
            </div>
            <div class="chu-2">
              KINH TE
            </div>
            <div class="icont-2">
              <i class="fab fa-facebook-square i-2"></i>
              <i class="fab fa-invision i-2"></i>
              <i class="fab fa-instagram i-2"></i>
              <i class="fab fa-twitter-square i-2"></i>
            </div>
          </div>
        </div>
        <!-- anh 3 -->
        <div class="Tene">
          <img style="width:300px ; height: 400px" src="file:///home/sinh/Downloads/T%C3%AAnbiria.jpg">
           <div class="conten">
            <div class="chu">
              SINHCHEAL J.
            </div>
            <div class="chu-2">
              KE HOACH
            </div>
            <div class="icont-2">
              <i class="fab fa-facebook-square i-2"></i>
              <i class="fab fa-invision i-2"></i>
              <i class="fab fa-instagram i-2"></i>
              <i class="fab fa-twitter-square i-2"></i>
            </div>
          </div>
        </div>
      </div>

    <!-- hedear 7 -->
    <div class="hedear7">
      <div class="hang">
        <div>
          150
        </div>
        <div>
          620
        </div>
        <div>
          25
        </div>
        <div>
          940
        </div>
      </div>
      <div class="hang">
        <div>
         Clinets
       </div>
       <div>
         Projects
       </div>
       <div>
         Awards
       </div>
       <div>
         Coffee
       </div>
      </div>
    </div>

    <!-- Boottrap time -->
    <div class="OurPortfolio">
      <div class="OPF">
        OUR PORTFOLIO
      </div>
      <hr>
      <div>

      </div>

      <div style="background-color:white">
      <ul class="nav nav-tabs ceter-table" id="example-tabs" role="tablist">
        <li class="nav-item">
            <a id="tab1" class="nav-link active a-table" data-toggle="tab" role="tab"  href="#pane-tab-1" style="margin:0 50px">ALL</a>
        </li>
        <li class="nav-item">
            <a id="tab2" class="nav-link a-table" data-toggle="tab" role="tab"  href="#pane-tab-2" style="margin:0 50px">Graphic Desgin</a>
        </li>
        <li class="nav-item">
            <a id="tab3" class="nav-link a-table" data-toggle="tab" role="tab"  href="#pane-tab-3" style="margin:0 50px">Web Desgin</a>
        </li>
        <li class="nav-item">
            <a id="tab4s" class="nav-link a-table" data-toggle="tab" role="tab"  href="#pane-tab-4" style="margin:0 50px">Web Development</a>
        </li>
      </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="pane-tab-1" role="tabpanel" aria-labelledby="tab1">
          <div>
             <div class="container1">
              <!-- anh 1 -->
              <div class="Luna1">
                <img style="width:400px ; height: 400px" src="file:///home/sinh/Downloads/Luna.jpg">
                <div class="conten">
                  <div class="chu">
                    BINHMANTA L.
                  </div>
                  <div class="chu-2">
                    KE TOAN
                  </div>
                  <div class="icont-2">
                    <i class="fab fa-facebook-square i-2"></i>
                    <i class="fab fa-invision i-2"></i>
                    <i class="fab fa-instagram i-2"></i>
                    <i class="fab fa-twitter-square i-2"></i>
                  </div>
                </div>
              </div>

              <div class="Luna1">
                <img style="width:400px ; height: 400px" src="file:///home/sinh/Downloads/Luna.jpg">
                <div class="conten">
                  <div class="chu">
                    BINHMANTA L.
                  </div>
                  <div class="chu-2">
                    KE TOAN
                  </div>
                  <div class="icont-2">
                    <i class="fab fa-facebook-square i-2"></i>
                    <i class="fab fa-invision i-2"></i>
                    <i class="fab fa-instagram i-2"></i>
                    <i class="fab fa-twitter-square i-2"></i>
                  </div>
                </div>
              </div>

              <div class="Luna1">
                <img style="width:400px ; height: 400px" src="file:///home/sinh/Downloads/Luna.jpg">
                <div class="conten">
                  <div class="chu">
                    BINHMANTA L.
                  </div>
                  <div class="chu-2">
                    KE TOAN
                  </div>
                  <div class="icont-2">
                    <i class="fab fa-facebook-square i-2"></i>
                    <i class="fab fa-invision i-2"></i>
                    <i class="fab fa-instagram i-2"></i>
                    <i class="fab fa-twitter-square i-2"></i>
                  </div>
                </div>
              </div>

              <div class="Luna1">
                <img style="width:400px ; height: 400px" src="file:///home/sinh/Downloads/Luna.jpg">
                <div class="conten">
                  <div class="chu">
                    BINHMANTA L.
                  </div>
                  <div class="chu-2">
                    KE TOAN
                  </div>
                  <div class="icont-2">
                    <i class="fab fa-facebook-square i-2"></i>
                    <i class="fab fa-invision i-2"></i>
                    <i class="fab fa-instagram i-2"></i>
                    <i class="fab fa-twitter-square i-2"></i>
                  </div>
                </div>
              </div>

              <div class="Luna1">
                <img style="width:400px ; height: 400px" src="file:///home/sinh/Downloads/Luna.jpg">
                <div class="conten">
                  <div class="chu">
                    BINHMANTA L.
                  </div>
                  <div class="chu-2">
                    KE TOAN
                  </div>
                  <div class="icont-2">
                    <i class="fab fa-facebook-square i-2"></i>
                    <i class="fab fa-invision i-2"></i>
                    <i class="fab fa-instagram i-2"></i>
                    <i class="fab fa-twitter-square i-2"></i>
                  </div>
                </div>
              </div>

              <div class="Luna1">
                <img style="width:400px ; height: 400px" src="file:///home/sinh/Downloads/Luna.jpg">
                <div class="conten">
                  <div class="chu">
                    BINHMANTA L.
                  </div>
                  <div class="chu-2">
                    KE TOAN
                  </div>
                  <div class="icont-2">
                    <i class="fab fa-facebook-square i-2"></i>
                    <i class="fab fa-invision i-2"></i>
                    <i class="fab fa-instagram i-2"></i>
                    <i class="fab fa-twitter-square i-2"></i>
                  </div>
                </div>
              </div>

              <div class="Luna1">
                <img style="width:400px ; height: 400px" src="file:///home/sinh/Downloads/Luna.jpg">
                <div class="conten">
                  <div class="chu">
                    BINHMANTA L.
                  </div>
                  <div class="chu-2">
                    KE TOAN
                  </div>
                  <div class="icont-2">
                    <i class="fab fa-facebook-square i-2"></i>
                    <i class="fab fa-invision i-2"></i>
                    <i class="fab fa-instagram i-2"></i>
                    <i class="fab fa-twitter-square i-2"></i>
                  </div>
                </div>
              </div>

              <div class="Luna1">
                <img style="width:400px ; height: 400px" src="file:///home/sinh/Downloads/Luna.jpg">
                <div class="conten">
                  <div class="chu">
                    BINHMANTA L.
                  </div>
                  <div class="chu-2">
                    KE TOAN
                  </div>
                  <div class="icont-2">
                    <i class="fab fa-facebook-square i-2"></i>
                    <i class="fab fa-invision i-2"></i>
                    <i class="fab fa-instagram i-2"></i>
                    <i class="fab fa-twitter-square i-2"></i>
                  </div>
                </div>
              </div>

              <div class="Luna1">
                <img style="width:400px ; height: 400px" src="file:///home/sinh/Downloads/Luna.jpg">
                <div class="conten">
                  <div class="chu">
                    BINHMANTA L.
                  </div>
                  <div class="chu-2">
                    KE TOAN
                  </div>
                  <div class="icont-2">
                    <i class="fab fa-facebook-square i-2"></i>
                    <i class="fab fa-invision i-2"></i>
                    <i class="fab fa-instagram i-2"></i>
                    <i class="fab fa-twitter-square i-2"></i>
                  </div>
                </div>
              </div>

              <div class="Luna1">
                <img style="width:400px ; height: 400px" src="file:///home/sinh/Downloads/Luna.jpg">
                <div class="conten">
                  <div class="chu">
                    BINHMANTA L.
                  </div>
                  <div class="chu-2">
                    KE TOAN
                  </div>
                  <div class="icont-2">
                    <i class="fab fa-facebook-square i-2"></i>
                    <i class="fab fa-invision i-2"></i>
                    <i class="fab fa-instagram i-2"></i>
                    <i class="fab fa-twitter-square i-2"></i>
                  </div>
                </div>
              </div>

              <div class="Luna1">
                <img style="width:400px ; height: 400px" src="file:///home/sinh/Downloads/Luna.jpg">
                <div class="conten">
                  <div class="chu">
                    BINHMANTA L.
                  </div>
                  <div class="chu-2">
                    KE TOAN
                  </div>
                  <div class="icont-2">
                    <i class="fab fa-facebook-square i-2"></i>
                    <i class="fab fa-invision i-2"></i>
                    <i class="fab fa-instagram i-2"></i>
                    <i class="fab fa-twitter-square i-2"></i>
                  </div>
                </div>
              </div>

              <div class="Luna1">
                <img style="width:400px ; height: 400px" src="file:///home/sinh/Downloads/Luna.jpg">
                <div class="conten">
                  <div class="chu">
                    BINHMANTA L.
                  </div>
                  <div class="chu-2">
                    KE TOAN
                  </div>
                  <div class="icont-2">
                    <i class="fab fa-facebook-square i-2"></i>
                    <i class="fab fa-invision i-2"></i>
                    <i class="fab fa-instagram i-2"></i>
                    <i class="fab fa-twitter-square i-2"></i>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pane-tab-2" role="tabpanel" aria-labelledby="tab2">
          <div>
            <div class="container1">
              <div class="Cdom1">
                <img style="width:400px ; height: 400px" src="file:///home/sinh/Downloads/Domine.jpg">
                <div class="conten">
                  <div class="chu">
                    KHANHMELA K.
                  </div>
                  <div class="chu-2">
                    KINH TE
                  </div>
                  <div class="icont-2">
                    <i class="fab fa-facebook-square i-2"></i>
                    <i class="fab fa-invision i-2"></i>
                    <i class="fab fa-instagram i-2"></i>
                    <i class="fab fa-twitter-square i-2"></i>
                  </div>
                </div>
              </div>
            </div>





          </div>

        </div>
        <div class="tab-pane fade" id="pane-tab-3" role="tabpanel" aria-labelledby="tab3">
          <div>

          </div>
        </div>
        <div class="tab-pane fade" id="pane-tab-4" role="tabpanel" aria-labelledby="tab4">
          <div>

          </div>
        </div>
      </div>
    </div>
    <!-- Subscribe -->
    <div class="Subscribe">
      <div class="Sub-chu">
        Subscribe To Our Newsletter
      </div>

      <div>
        <form>
          <input class="input" type="text" id="fname" name="fname">
        </form>
      </div>

      <div class="Sub button-5 animation5">
        <a style="text-decoration:none ;" href="https://crucio.ravenbluethemes.com/">SUBSCRIBE</a>
      </div>
    </div>

    <!-- hedear 8 -->
    <div class="body-8">
      <div class="font-8 animation8-2">
        WANT TO DISCUSS YOUR NEW PROJECT?
      </div>

      <div class="contant animation-8 button-8-1">
        <a style="text-decoration:none ;" href="https://crucio.ravenbluethemes.com/">CONTANT U.</a>
      </div>
    </div>
    <!-- hedear 9 Testimonials -->
    <div>
      <div class="body-9">
        <div class="font-9">
          TESTIMONIALS
        </div>
        <hr class="hr-1">
      </div>
    </div>

    <!-- icont hãng hedear 10 -->
    <div class="hedear-10">
      <div class="xephang">
        <i class="fab fa-amazon-pay"></i>
        <i class="fab fa-cc-discover"></i>
        <i class="fab fa-cc-stripe"></i>
        <i class="fab fa-dev"></i>
        <i class="fab fa-hooli"></i>
        <i class="fab fa-php"></i>
      </div>
    </div>
  </body>
</html>
